/* CSS resets */
*{
	vertical-align: baseline;
	/* border: 2px dashed red; */
	padding: 0;
	margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

#container{
   margin: 0 auto;
   display: flex;
   flex-flow: column;
   align-items: center;
   background: linear-gradient(45deg, rgb(190,190,190), rgb(230, 230, 230));
   height: 100vh;
   padding: 1em 10em;
}

#status{
   align-self: flex-start;
   display: flex;
}

#gold{
   background-color: white;
   border: 1px solid black;
   width: 3em;
   padding-left: 5px;
}

form{
   display: flex;
}

.place{
   width: 230px;
   height: 180px;
   border: 1px solid black;
   margin: 1em;
   padding: 1em;
}

#reset{
   margin-left: 10px;
}